body {
	background: #f4f4f4;
	color: #666;
	font: normal normal normal 13px/normal Arial, Helvetica, sans-serif;
	text-shadow: white 0px 1px 1px;
	position: relative;
	
}

a { color: #336699; font-weight: bold; }

p {
	color: #333;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 10px;
}

h1{ font-size:22px; margin-bottom:15px; color: #181818; }
h2{ font-size:21px; margin:25px 0; text-align: center; }
h3{ font-size:19px; margin:15px 0; border-bottom: 3px solid #777; }

ul {
	list-style: square;
	margin-left: 25px;
	margin-bottom: 15px;
}

ul li {
	margin-bottom: 5px;
	color: #333;
}

#content {
	width: 500px;
	background-color: #f4f4f4;
	margin: 0 auto;
	position: relative;
	z-index: 1001;
	filter: alpha(opacity=85);
	-khtml-opacity: 0.85;
	-moz-opacity: 0.85;
	opacity: 0.85;
	padding:20px;
}

#lorem p {
	font-size: 10px;
}

#option {
	background-color: #181818;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 150px;
	position: fixed;
	right: 10px;
	top: 10px;
	filter: alpha(opacity=90);
	-khtml-opacity: 0.9;
	-moz-opacity: 0.9;
	opacity: 0.9;
	z-index: 2000;
	text-shadow: black 0 1px 1px;
	color: #e5e5e5;
	padding: 10px 10px 10px;
	-webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	font-weight: bold;
	font-size: 15px;
}

#option h6 {
	color: #f4f4f4;
	text-align: center;
	padding:3px 0 10px;
}

#option select {
	width: 100%;
	margin-bottom: 15px;
}

label {
	display: block;
	margin-bottom: 2px;
}

#submit {
	position: absolute;
	bottom: 5px;
	right: 5px;
}

#reset {
	position: absolute;
	bottom: 5px;
	left: 5px;
	color:#cacaca
}

/*-----------------------------------------------*/
/* FSSLIDER STYLE
/*-----------------------------------------------*/

#background {
	position: fixed;
	width: 100%;
	height: 100%;
}

#background img { display: none; }

#fss-content {
	position: relative;
}

.fss-next {
	display: block;
	width: 16px;
	height: 15px;
	float: left;
	background: transparent url(../img/nav-next.png) no-repeat 0 0;
}

.fss-prev {
	display: block;
	width: 16px;
	height: 15px;
	float: left;
	background: transparent url(../img/nav-prev.png) no-repeat 0 0;
}

.fss-texture {
	position: absolute;
}

#fss-cross, #fss-cube, #fss-dot, #fss-plus, #fss-raster, #fss-square, #fss-star, #fss-strip1, #fss-strip2, #fss-strip3, #fss-strip4, #fss-zigzagh, #fss-zigzag, #fss-none {
	background-color: transparent;
	background-position: 0 0;
	background-repeat: repeat;
	z-index: 10;
}

#fss-cross { background-image: url(../img/cross.png); }
#fss-cube { background-image: url(../img/cube.png); }
#fss-dot { background-image: url(../img/dot.png); }
#fss-plus { background-image: url(../img/plus.png); }
#fss-raster { background-image: url(../img/raster.png); }
#fss-square { background-image: url(../img/square.png); }
#fss-star { background-image: url(../img/star.png); }
#fss-strip1 { background-image: url(../img/strip1.png); }
#fss-strip2 { background-image: url(../img/strip2.png); }
#fss-strip3 { background-image: url(../img/strip3.png); }
#fss-strip4 { background-image: url(../img/strip4.png); }
#fss-zigzagh { background-image: url(../img/zigzagh.png); }
#fss-zigzagv { background-image: url(../img/zigzagv.png); }


.title {
	position: absolute;
	bottom: 7px;
	color: white;
	/*display: block;*/
	float: right;
	font-size: 19px;
	font-weight: bold;
	z-index: 200;
	right: 65px;
	text-shadow: 0px 1px 2px black;
}